nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color: white;
}

.nav-menuIcon{
  margin: auto 1em;
}

.nav-title{
  margin: auto 0.2em;
  font-family: Montserrat, sans-serif;
  font-size: 3em;
  font-weight:800;
}

.nav-list{
  font-family: Open Sans, sans-serif;
  list-style: none;
  display:flex;
  padding: 0;
  margin: 0;
  margin-left: 1em;
  align-items: flex-end;
}

.nav-item{
  padding: 0.5em;
}
.nav-left{
  display: flex;
}
.nav-right{
  height: auto;
  margin-bottom: 0.5em;
}

.nav-right-item{
  margin: auto 1em;
  line-height: 1.2em;
}

.header-body{
  min-height: 90vh;
}

.nav-link{
  color:white;
  text-decoration: none;
}

.nav-time{
  text-align: right;
  flex-wrap: nowrap;
  font-size: small;
margin: 0.5em;
margin-right: 1em;
}
