nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: grey;
  color: white;
}

.nav-menuIcon{
  margin: auto 1em;
}

.nav-title{
  margin: auto 0.5em;
}

.nav-list{
  list-style: none;
  display:flex;
  padding: 0;
}

.nav-item{
  padding: 0.5em;
}
.nav-left{
  display: flex;
}
.nav-right{
  display: flex;
  align-items: center;
  height: auto;
  margin-right: 2em;
}

.nav-right-item{
  margin: 1em;
  padding: 0.3em;
}

.header-body{
  min-height: 90vh;
}

.nav-link{
  color:white;
  text-decoration: none;
}